:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "open-sans", sans-serif;
    margin: 0;
}
*:focus{
    outline: none;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
.page{
    background-color: rgb(0 117 255 / 8%);
    min-height: 100vh;
}
/* Start Sidebar */
.sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after{
    content: "";
    position: absolute;
    background-color: black;
    transform: translateX(-50%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.sidebar > h3::before{
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after{
    width: 10px;
    height: 10px;
    bottom: -27px;
    border: solid 3px white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sidebar ul li a{
    margin-bottom: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f6f6f6;
}
.sidebar ul li a span{
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px){
    .sidebar{
        width: 60px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after{
        display: none;
    }
    .sidebar ul li a{
        justify-content: center;
    }

    .sidebar ul li a span{
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content{
    overflow: hidden;
}
.head .search::before{
    font-family: "Font Awesome 6 Free";
    /*Orvar(--fa-style-family-classic)*/content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--grey-color);
}
.head .search input{
    border: 1px #ccc solid;
    border-radius: 10px;
    padding-left: 35px;
    margin-left: 5px;
    width: 160px;
    transition: 0.3s ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s ;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s ;
}
.head .search input:focus{
    width: 200px;
}

.head .search input:focus::placeholder{
    opacity: 0;
}
.head .icons .notification{
    font-size: 20px;
}
.head .icons .notification::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    right: -5px;
    top: -5px;
    border-radius: 50%;
}
.head .icons img{
    margin-left: 15px;
    width: 32px;
    height: 32px;
}
.page .content h1{
    margin: 20px 20px 40px;
}
.page .content h1::before,
.page .content h1::after
{
    content: "";
    position: absolute;
    height: 5px;
    bottom: -10px;
    left: 0;
}
.page .content h1::before{
    background-color: white;
    width: 150px;
}
.page .content h1::after{
    background-color: black;
    width: 50px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr ));
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 767px){
    .wrapper {
        grid-template-columns: minmax(200px, 1fr );
        margin-left: 10px;
        margin-right: 10px;
    }
}
/* End Content */
/* Stat Welcom Widget */
.welcome{
    overflow: hidden;
}
.welcome .intro img{
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px #ddd;
    padding: 2px;
    margin-left: 15px;
    margin-top: -32px;
}
.welcome .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 25px;
}
.welcome .visite {
    margin: 0 15px 15px auto;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.welcome .visite:hover{
    background-color: var(--blue-alt-color);
}
@media (max-width: 767px){
    .welcome .intro{
        padding-bottom: 40px;
    }
    .welcome .avatar{
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 15px;
    }
    .welcome .body > div > p {
        margin-top: 5px;
    }
}
/* End Welcom Widget */
/* Start Quick Draft Widget */
.quick-draft input::placeholder,
.quick-draft textarea::placeholder{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.quick-draft input:focus::placeholder,
.quick-draft textarea:focus::placeholder{
    opacity: 0;
}

.quick-draft textarea{
    resize: none;
    min-height: 180px;
}
.quick-draft .save{
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.quick-draft .save:hover{
    background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */
/* Start Targets */
.targets .targets-row .icon{
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details{
    flex: 1;
}
.targets .details .progress{
    height: 4px;
}
.targets .progress > span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.targets .progress > span span{
    position: absolute;
    width: 35px;
    height: 21px;
    right: 0px;
    top: -30px;
    font-size: 16px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.targets .progress > span span::after{
    content: "";
    position: absolute;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    bottom: -5px;
    right: 0;
}
.targets .progress > .blue span::after{
    border-right-color: var(--blue-color);
}
.targets .progress > .orange span::after{
    border-right-color: var(--orange-color);
}
.targets .progress > .green span::after{
    border-right-color: var(--green-color);
}


.blue .icon ,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon ,
.orange .progress {
    background-color: rgb(254 158 11 / 20%);
}
.green .icon ,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End Targets */
/* Start Tickets Statistics */
.tickets-statistics .boxes{
    flex-wrap: wrap;
    gap: 20px;
}
.tickets-statistics .boxes .box{
   width: calc(50% - 10px);
   height: 150px;
   border: 1px solid #ccc;
}
@media (max-width: 767px){
    .tickets-statistics .boxes .box{
        width: 100%;
     }
}
.tickets-statistics .boxes .box i{
    font-size: 25px;
}
.tickets-statistics .boxes .box div{
    font-size: 30px;
}
/* End Tickets Statistics */
/* Start Latest News */
.latest-news img{
    width: 95px;
}
.latest-news .boxes{
    padding: 15px 0;
}
.latest-news .boxes:not(:last-child){
    border-bottom: 1px solid #eee;
}
@media (max-width: 767px){
    .latest-news img{
        margin: 0;
        margin-bottom: 5px;
    }
    .latest-news .boxes {
        justify-content: center;
    }
    .latest-news p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .latest-news .boxes .date{
        padding: 3px 11px;
        margin-top: 5px;
    }
}
/* End Latest News */
/* Start Latest Tasks */
.latest-tasks .info:not(:last-child){
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.latest-tasks .info:last-child{
    padding-top: 15px;
}
.latest-tasks .info:nth-child(5) p{
    text-decoration: line-through;
    color: #ccc;
}
.latest-tasks .info i {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.latest-tasks .info i:hover {
    color: var(--red-color);
}
@media (max-width: 767px){
    .latest-tasks .info {
        display: block;
    }
    .latest-tasks .info p{
        margin-bottom: 10px;
    }
}
/* End Latest Tasks */
/* Start Latest Uploads */
.latest-uploads ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.latest-uploads ul li img{
    width: 40px;
    height: 40px;
}
/* End Latest Uploads */
/* Start last Project Progress */
.last-project ul::before{
    content: "";
    position: absolute;
    background-color: var(--blue-color);
    width: 3px;
    height: 100%;
    left: 11px;
} 
.last-project ul li::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before{
    background-color: var(--blue-color);
}
.last-project ul li.current::before{
    animation: change 0.8s infinite alternate;
    -webkit-animation: change 0.8s infinite alternate;
}
.last-project img{
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}
/* End last Project Progress */
/* Start Reminders */
.reminders span:first-of-type {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.reminders .blue{
    border-left: 4px solid var(--blue-color);
}
.reminders .green{
    border-left: 4px solid var(--green-color);
}
.reminders .orange{
    border-left: 4px solid var(--orange-color);
}
.reminders .red{
    border-left: 4px solid var(--red-color);
}
/* End Reminders */
/* Start Latest Post */
.latest-post img{
    width: 55px;
    height: 55px;
}
.latest-post .par{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
    text-transform: capitalize;
    min-height: 140px;
}
/* End Latest Post */
/* Start Animation */
@keyframes change {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
/* Start Animation */